venv/
bootstrap.log
.env
.flag.*
.container_data/
docs/_build/
*.log
*.logs
.DS_Store
.cache/
__pycache__/
.ipynb_checkpoints
.history/
*.code-workspace
.vscode/
.hypothesis/
catboost_info/
datto_examples_zapier.ipynb
Golden path to machine learning external.ipynb
titanic.csv
*.png
datto/*.png
dist/*
datto.egg-info/*
*.txt
final_model_*.csv
gridsearching_results.csv
model_results.csv
start_script.py
start_notebook.ipynb
start_script.ipynb
start_notebook.py
files_to_ignore/*